<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:type="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
    <head>
        <bookName>Bookish - Home</bookName>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <div class="jumbotron">
                <h1>Bookish</h1>
                <p class="lead">Welcome to the Bookish application</p>
            </div>

            <h2>Our books:</h2>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Checked Out?</th>
                        <th>ISBN</th>
                        <th>Author(s)</th>
                        <th>Copy</th>
                        <th>Delete?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${model.books}">
                        <td th:text="${book.id}"></td>
                        <td th:text="${book.bookName}"></td>
                        <td th:if="${book.checkedOut == true}"><span>✔</span></td>
                        <td th:unless="${book.checkedOut == true}"><span>✖</span></td>
                        <td th:text="${book.isbn}"></td>
                        <td th:text="${book.authorString}"></td>
                        <td th:text="${book.copyNo}"></td>
                        <td>
                            <a th:href="${'/books/delete?id=' + book.id}"><span>Delete</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2>Add a book:</h2>
            <form id="addForm" th:action="@{/books/add}" method="post">
                <div>
                    <label>
                        Title:
                        <input type="text" name="bookName">
                        <br>
                        ISBN:
                        <input type="text" name="isbn">

                    </label>
                </div>
                <div>
                    <input type="submit" value="Add book" />
                </div>
            </form>

        </div>
    </body>
</html>
