<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <bookName>Layout</bookName>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"/>
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div>
                <ul class="navbar-nav">
                    <li>
                        <a class="navbar-brand" href="/">Bookish</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/books">Books</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div layout:fragment="content"></div>
    </body>
</html>
